body {
    background-color: rgb(167, 190, 211);
    font-family: helvetica;
}

h1 {
    font-family: monospace;
    color: darkgoldenrod;
}

p {
    font-family: sans-serif;
}

.My-Picture {
    border-radius: 10%;
    float: left;

}

.origin {
    
}

.commitment{
    font-size: 20px;
}

.empathy {
    font-size: 17px;
}

.flexibility {
    font-size: 15px;
}

.JS {
    font-size: 20px;
}

.HTML {
    font-size: 18px;
}
.CSS {
    font-size: 15px;
}

div{
    border: 2px solid green;
}

ul.skills:nth-child(){
    color: brown;
}